<h1>Thêm </h1>
<form action="/add" method="POST">
  IdDistrict: <input type="string" name="IdDistrict" /> <br />
  IdVillage:<input type="string" name="IdVillage" /> <br />
  Address:<input type="string" name="Address" /> <br />
  BankName:<input type="string" name="BankName" /> <br />
  BranchName:<input type="string" name="BranchName" /> <br />
  <button type="submit">Thêm </button>
</form>
